body{
	background:#2B2B2B;
	width:1024px;
	font-size:1em;
	margin:0 auto;
}
article ul{
	margin-left:50px;
}
header{
	background:#F0F0F0;
	padding:top:-10px;
}
header img{
	width:1024px;
	height:50px;
	padding-left:40px;

}
header input{
	float:left;
	position:relative;
	margin-top:10px;
	margin-left:30px;
}
#menu{
	width:75%;
}
#sec1{
	width:100%;
	display:inline-block;
	padding-bottom:20px;
}
 #art1{
 	width:25%;
 	padding-left:-15px;
 }
  #art1 img{
 	width:90%;
 	margin-top:50px;
 }
 #art2, #art3, #art4, #art5{
	width:180px;
	margin-left:-4px;
	margin-right:0;
	margin-top:20px;
	height:250px;
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
	} 
#art1,  #art2, #art3, #art4, #art5{
	display:inline-block;
 }
#art2{
	
	
	color:white;
	background:#BAD65C;
}
#art3{
	
	
	color:white;
	background:#747474;
}
#art4{
	

	color:white;
	background:#D02F42;
}
#art5{
	
	
	color:white;
	background:#D5D5D5;
}
#Title {
	font-size:20px;
	text-align:left;
}
#cont{
	vertical-align:center;
	font-size:12.5px;
	
}
#sec2 article{
	border:3px solid yellow;
	display:inline-block;
	width:333px;
	padding-right:5px;
}
#barra1, #barra2, #barra3{
	display:inline-block;
}
#barra1{
	border:3px solid yellow;
	width:300px;
}
#barra2{
 	width:300px;
}
#barra3{
width:300px;
}
#bar1, #bar2, #bar3{
	width:50%;
}